<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.github.owner_name }}/{{ site.title | default: site.github.repository_name }}</a></h1>
        
        <p><small>Scripts and Tutorials for alfred3.</small></p>

        <p id="pagelink"></p>

        <div class="btn-group dropend">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Tutorial Navigation
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ "tutorial" | absolute_url }}">Startseite</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ "py3_tutorial/part1" | absolute_url }}">Abschnitt 1</a></li>
            <li><a class="dropdown-item" href="{{ "py3_tutorial/part2" | absolute_url }}">Abschnitt 2</a></li>
            <li><a class="dropdown-item" href="{{ "py3_tutorial/part3" | absolute_url }}">Abschnitt 3</a></li>
            <li><a class="dropdown-item" href="{{ "py3_tutorial/part4" | absolute_url }}">Abschnitt 4</a></li>
            <li><a class="dropdown-item" href="{{ "py3_tutorial/part5" | absolute_url }}">Abschnitt 5</a></li>
            <li><a class="dropdown-item" href="{{ "py3_tutorial/part6" | absolute_url }}">Abschnitt 6</a></li>
            <li><a class="dropdown-item" href="{{ "py3_tutorial/part7" | absolute_url }}">Abschnitt 7</a></li>
            <li><a class="dropdown-item" href="{{ "py3_tutorial/part8" | absolute_url }}">Abschnitt 8</a></li>
          </ul>
           <!-- You can add additional buttons and menus here -->
        </div>

      </header>

      <section>

      {{ content }}

      </section>

      <footer>
        <p id="last-modified"></p>
      </footer>
    </div>

    <script>document.getElementById("pagelink").innerHTML = '<small>Link to this page:<br><a href="' + window.location.href + '" style="word-wrap:break-word;">' + window.location.href + '</a></small>';</script>

    <script>
      if (document.getElementById('last-modified')) {
        fetch("https://api.github.com/repos/{{ site.github.owner_name }}/{{ site.github.repository_name }}/commits?path={{ page.path }}")
          .then((response) => {
            return response.json();
          })
          .then((commits) => {
            var modified = commits[0]['commit']['committer']['date'].slice(0,10);
            var author = commits[0]['committer']['login'];
            var author_url = commits[0]['committer']['html_url'];
            document.getElementById('last-modified').innerHTML = "<small>Latest version committed on <b>" + modified + "</b> by <a href=" + author_url + ">" + author + "</a></small>";
          });
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
